body {
background-color: dimgray;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topEditor {
  color: whitesmoke;
font-size: 1.5rem;
}

.treewrapper {
  background-color: lightgrey;
  height: 1000px;
  width: 1000px;
}

.resultDisplay {
  font-size: 3rem;
  color: blueviolet;
}

.node__root > circle {
  fill: green;
}

.node__branch > circle {
  fill: lightblue;
}

.node__leaf > circle {
  fill: tan;
}